@model CarsTARge22.Models.Cars.CarCreateUpdateViewModel

@if (Model.Id.HasValue)
{
    <h1>Update</h1>
}
else
{
    <h1>Create</h1>
}


<div>
    <form method="post" enctype="multipart/form-data">
        <input asp-for="Id" type="hidden" />
        <input asp-for="CreatedAt" type="hidden" />
        <input asp-for="ModifiedAt" type="hidden" />

        <div class="form-group row">
            <label asp-for="Brand" class="col-sm-2 col-form-lable"></label>
            <div class="col-sm-10">
                <input asp-for="Brand" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Type" class="col-sm-2 col-form-lable"></label>
            <div class="col-sm-10">
                <input asp-for="Type" class="form-control" />
            </div>
        </div>

        <div class="form-group row">
            <label asp-for="Year" class="col-sm-2 col-form-lable"></label>
            <div class="col-sm-10">
                <input asp-for="Year" class="form-control" />
            </div>
        </div>

        @if(Model.Id.HasValue)
        {
            <input asp-action="update" asp-asp-controller="cars" type="submit" class="btn btn-primary" value="Update" />
        }
        else
        {
            <input asp-action="create" asp-asp-controller="cars" type="submit" class="btn btn-primary" value="Create" />
        }


        

        <a asp-action="index" class="btn btn-primary">Back</a>
    </form>
</div>